In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import itertools
warnings.filterwarnings("ignore")
pd.set_option('display.max_rows', 100)
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
1675,tt0465234,130000000,457363168,National Treasure: Book of Secrets,Nicolas Cage|Jon Voight|Harvey Keitel|Ed Harri...,Jon Turteltaub,The Greatest Adventure History Has Ever Revealed,Benjamin Franklin Gates and Dr. Abigail Chase ...,124,Action|Adventure|Mystery|Thriller,Jerry Bruckheimer Films|Saturn Films|Walt Disn...,12/13/2007,6.0,2007
1693,tt0952640,60000000,361366633,Alvin and the Chipmunks,Jason Lee|David Cross|Cameron Richardson|Jane ...,Tim Hill,Get your squeak on!,A struggling songwriter named Dave Seville fin...,92,Comedy|Music|Family|Fantasy|Animation,Dune Entertainment|Regency Enterprises|Fox 200...,12/13/2007,5.6,2007
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
731,tt1570728,50000000,142851197,"Crazy, Stupid, Love.",Steve Carell|Julianne Moore|Ryan Gosling|Emma ...,Glenn Ficarra|John Requa,This Is Stupid,Cal Weaver is living the American dream. He ha...,118,Comedy|Drama|Romance,Warner Bros.,7/29/2011,6.9,2011

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [6]:
# In order to find the difference between the revenue and the budget of the film, let's add a column 'profit' to the table. 

data['profit'] = data['revenue'] - data['budget'] 
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360

In [71]:
#Получение словаря с количеством фильмов по жанрам из исходной таблицы

def counter_dict(data, dict, field):
    for subdata in data[field]:
        for thing in subdata.split('|'):
            if thing in dict:
                dict[thing] += 1
            else: dict[thing] = 1
    return dict

# 1. У какого фильма из списка самый большой бюджет?

In [7]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'  # "+"

In [8]:
max_budget_film = data[data['budget'] == data['budget'].max()][['imdb_id','original_title','budget']]
max_budget_film['original_title'].values[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
answers['2'] = 'Gods and Generals (tt0279111)'    # "+"

In [10]:
longest_film_2 = data[data['runtime'] == data['runtime'].max()][['imdb_id','original_title','runtime']]
longest_film_2

        imdb_id     original_title  runtime
1157  tt0279111  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = 'Winnie the Pooh (tt1449283)'    # "+"

In [12]:
shortest_film_2 = data[data['runtime'] == data['runtime'].min()][['imdb_id','original_title','runtime']]
shortest_film_2

       imdb_id   original_title  runtime
768  tt1449283  Winnie the Pooh       63

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = 110

In [14]:
mean_runtime = data['runtime'].mean()
print(round(mean_runtime))

110

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = 107    # "+"

In [16]:
median_runtime = data['runtime'].median()
print(median_runtime)
print(round(median_runtime))

107.0
107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
answers['6'] = 'Avatar (tt0499549)'   # "+"

In [18]:
most_profitable_film = data[data['profit'] == data['profit'].max()][[ 'imdb_id','original_title']]
most_profitable_film

       imdb_id original_title
239  tt0499549         Avatar

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = 'The Lone Ranger (tt1210819)'   # "+"

In [20]:
least_profitable_film = data[data['profit'] == data['profit'].min()][['imdb_id','original_title']]
least_profitable_film

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
answers['8'] = 1478   # "+"

In [22]:
profitable_films = data[data['revenue'] > data['budget']]['imdb_id'].count()
profitable_films

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = 'The Dark Knight(tt0468569)'   # "+"

In [24]:

highest_profit_2008=data[data['profit'] == data[data['release_year'] == 2008]['profit'].max()][['imdb_id','original_title']]
highest_profit_2008

       imdb_id   original_title
599  tt0468569  The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:

answers['10'] = 'The Lone Ranger (tt1210819)'    # "+"

In [26]:
lowest_profit = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]['profit'].min()
low_profit_film = data[data['profit'] == lowest_profit]['original_title']
low_profit_film.values[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [27]:

answers['11'] = 'Drama'    # "+"

In [28]:
data11 = data.copy()
data11['genres'] = data11['genres'].str.split('|')
genres = data11.explode('genres')['genres'] 
counter11 = Counter(genres)
counter11.most_common(1)[0][0]

'Drama'

ВАРИАНТ 2

In [29]:
genres.value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [73]:
answers['12'] = 'Drama'   # "+"

In [75]:
genres_count_dict = {}
data_profit = data[data['profit'] > 0]

genres_count_dict = counter_dict(data_profit, genres_count_dict, 'genres')
sorted(genres_count_dict.items(), reverse=True, key=lambda x: x[1])[0]

('Drama', 560)

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [32]:

answers['13'] = 'Peter Jackson'    # "+"

In [78]:

data13 = data.copy()
data13['director'] = data13.director.str.split('|')

data13.explode('director').groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:

answers['14'] = 'Robert Rodriguez'    # "+"

In [35]:
data14 = data.copy()
data14['genres'] = data14['genres'].apply(lambda value: value.split('|'))
data14['director'] = data14['director'].apply(lambda value: value.split("|"))
data14 = data14.explode('genres')
data14 = data14.explode('director')
data14[data14['genres'] == 'Action']['director'].value_counts(ascending = False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [36]:

answers['15'] = 'Chris Hemsworth'   # '+'

In [37]:
data15 = data.copy()
data15['cast'] = data15[data15['release_year'] == 2012]['cast'].str.split('|')
data15.explode('cast').groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:

answers['16'] = 'Matt Damon'   # '+'

In [39]:
data16 = data.copy()
data16['cast'] = data16[data16['budget'] >= data16['budget'].mean()].cast.str.split('|')

In [40]:
data16.explode('cast').groupby(['cast'])['imdb_id'].count().sort_values(ascending=False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [41]:

answers['17'] = 'Action'   # '+'

In [42]:
data17 = data.copy()

In [43]:
only_NC=data17[data17['cast'].str.contains('Nicolas Cage', na=False)]
only_NC['genres']=only_NC['genres'].str.split('|')
genres_NC=only_NC.explode('genres')['genres']
counterNC = Counter(genres_NC) 
counterNC.most_common(1)[0][0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:

answers['18'] = 'K-19: The Widowmaker (tt0267626)'   # '+'

In [45]:
prm_films = data[data['production_companies'].str.contains('Paramount Pictures')]
unprofit_prm_film = prm_films[prm_films['profit'] == prm_films['profit'].min()][['original_title','profit']]
unprofit_prm_film.original_title.values[0]

'K-19: The Widowmaker'

Вариант 2

In [46]:
data[data['production_companies'].str.contains('Paramount Pictures', na=False)].sort_values('profit').head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,5.1,2003,-60519261
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,5.9,2007,-51788987

In [47]:
data[data['production_companies'].str.contains('Paramount Pictures', na=False)].sort_values('profit').iloc[0][3]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [48]:

answers['19'] = 2015   # '+'

In [49]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [50]:

answers['20'] = 2014   # '+'

In [51]:
data[data['production_companies'].str.contains('Warner Bros.', na=False)].groupby(['release_year'])['profit'].sum().sort_values(ascending = False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [52]:

answers['21'] = 'Cентябрь'   # '+'

In [53]:
data21 = data.copy()
data21['release_date_month']=data21['release_date'].str.split('/').str.get(0)
data21['release_date_year']=data21['release_date'].str.split('/').str.get(2)
data21.groupby(['release_date_month'])['release_date_year'].count().sort_values(ascending=False)

release_date_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date_year, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [54]:
answers['22'] = 450   # '+'

In [55]:
data22 = data.copy()
data22['release_date_month']=data22['release_date'].str.split('/').str.get(0)
data22[(data22['release_date_month']=='6')|(data22['release_date_month']=='7')|(data22['release_date_month']=='8')].count()

imdb_id                 450
budget                  450
revenue                 450
original_title          450
cast                    450
director                450
tagline                 450
overview                450
runtime                 450
genres                  450
production_companies    450
release_date            450
vote_average            450
release_year            450
profit                  450
release_date_month      450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [56]:
answers['23'] = "Steven Soderbergh"   # '+'

In [85]:
data23 = data.copy()
data23['release_date_month']=data23['release_date'].str.split('/').str.get(0)
winter_release=data23[(data23['release_date_month']=='12')|(data23['release_date_month']=='1')|(data23['release_date_month']=='2')]
winter_release.groupby(['director'])['release_date_month'].count().sort_values(ascending=False)

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Adam Shankman        4
Martin Scorsese      4
                    ..
GÃ¡bor CsupÃ³        1
Guy Ritchie          1
Guy Ferland          1
Gus Van Sant         1
Will Gluck           1
Name: release_date_month, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [58]:
answers['24'] = "Four By Two Productions"   # '+'

In [59]:
data24 = data.copy()
data24['title_len'] = data24['original_title'].str.len()

data24['production_companies'] = data24['production_companies'].str.split('|')
data24.explode('production_companies').groupby(['production_companies'])['title_len'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Name: title_len, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [60]:
answers['25'] = "Midnight Picture Show"   # '+'

In [61]:
data25 = data.copy()
data25['overview'] = data25['overview'].str.len()

data25['production_companies'] = data25['production_companies'].str.split('|')
data25.explode('production_companies').groupby(['production_companies'])['overview'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
London Boulevard                           74.0
Henceforth                                 74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Name: overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [81]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'   # '+'

In [82]:
#В1
data26 = data.copy()
data26.vote_average.sort_values(ascending=False)[:round(0.1*1889)].index.tolist()
data26.loc[data26.vote_average.sort_values(ascending=False)[:round(0.1*1889)].index.tolist(),['original_title','vote_average']]

          original_title  vote_average
599      The Dark Knight           8.1
118         Interstellar           8.0
125   The Imitation Game           8.0
9             Inside Out           8.0
34                  Room           8.0
...                  ...           ...
166                 Chef           7.2
1591               Crash           7.1
705          The Express           7.1
1358         Match Point           7.1
373           Black Swan           7.1

[189 rows x 2 columns]

### Вариант 2

In [83]:
data26.loc[data26.vote_average > data26.vote_average.quantile(0.99)].sort_values('vote_average', ascending=False)['original_title']

599                                   The Dark Knight
9                                          Inside Out
34                                               Room
118                                      Interstellar
125                                The Imitation Game
119                           Guardians of the Galaxy
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [65]:
answers['27'] = "Daniel Radcliffe, Rupert Grint"   # '+'

In [84]:
data27 = data.copy()
data27['cast'] = data27.cast.str.split('|')
data27['cast'] = data27.cast.apply(lambda x: list(itertools.combinations(sorted(x), 2)))
data27.explode('cast').cast.value_counts()

(Daniel Radcliffe, Rupert Grint)        8
(Daniel Radcliffe, Emma Watson)         8
(Emma Watson, Rupert Grint)             8
(Helena Bonham Carter, Johnny Depp)     6
(Ben Stiller, Owen Wilson)              6
                                       ..
(Bill Nighy, Juno Temple)               1
(Boman Irani, Madhavan)                 1
(Blake Woodruff, Julian Christopher)    1
(David Wenham, Shuler Hensley)          1
(Colm Meaney, Gerard Butler)            1
Name: cast, Length: 17943, dtype: int64

# Submission

In [67]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight(tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Comedy',
 '13': 'James Cameron',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Cентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [68]:
# и убедиться что ничего не пропустил)
len(answers)

27